@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cinereous: #93827fff;
    --cream: #f3f9d2ff;
    --sage: #bdc4a7ff;
    --jet: #2f2f2fff;
    --cambridge-blue: #92b4a7ff;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }



body{
    font-family: 'Poppins', sans-serif;
    background-color: white;
    padding: 0;
    margin: 0;
    height: 100%;
}


header{
    padding: 20px 50px;
    background-image: url(2688x1511-WALLSBYJFL.jpg);
    background-size: cover;
    color: var(--jet);
    font-size: 3vw;
}


#gambarheader{
    filter: brightness(0.5);
}

#judul{
    text-align: center;
    color: var(--cream);
    font-size: 6vw;
}

#subjudul{
    text-align: center;
    color: var(--jet);
    font-size: 4vw;
    padding-bottom: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cinereous);
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}
  
  .logo {
    font-weight: bold;
    font-size: 18px;
    color: var(--cream);
    text-decoration: none;
  }
  
  .nav-links {
    display: flex;
    gap: 16px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: var(--cream);
    padding: 6px 12px;
    border: 1px solid var(--cream);
    border-radius: 8px;
  }
  
  .menu-toggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
  }


main{
    background-color: var(--sage);
    padding: 20px ;
    text-align: left;
    color: var(--jet);
    flex: 1;
}

article {
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 10px 30px;
    text-align: left;
    max-width: 500px;
    min-width: 200px;
    flex: 1 1 300px;
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

article:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); 
}

#tentang{
    background-color: var(--cream);
    padding: 20px ;
    text-align: left;
    width: 100%;
    max-width: 1000px;
    font-size: 20px;
    color: var(--jet);
    flex: 1;
}

.container {
    display: flex;
    justify-content: center;
    padding: 0, 20px ;
    gap: 40px;
    flex-wrap: wrap;
    font-size: 12px;
}

form{
    background-color: var(--cream);
    width: 100%;
    max-width: 500px;
    padding: 30px;
    border-radius: 12px;
}

textarea{
    font-family: poppins, sans-serif;
    font-size: 14px;
    padding: 10px;
    resize: none;
    width: 100%;
    box-sizing: border-box;
    min-height: 150px;
    max-height: 400px;  
    border: none;
    border-radius: 12px;
    border: 1px solid var(--jet);
}

input{
    font-family: poppins, sans-serif;
    font-size: 14px;
    padding: 10px;
    width: 80%;
    max-width: 300px;
    border-radius: 12px;
    border: 1px solid var(--jet);
}

label{
    font-size: 18px;
}

button{
    background-color: var(--cinereous);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
}

img {
    max-width: 100%;
    border-radius: 10px;
}

.contact-info{
    background-color: var(--cream);
    padding: 30px;
    width: 100%;
    max-width: 500px;
    height: fit-content;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.contact-info h2{
    font-size: 24px;
    margin-bottom: 10px;
}

.sosmed{
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
    padding: 15px 0px;
}

.sosmed img{
    width: 50px;
    height: 50px;
    border-radius: 0;
    transition: transform 0.3s ease-in-out;
}

span{
    font-size: 20px;
    color: var(--jet);
}

footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    font-size: 14px;
    margin: 0;
}

footer p{
    padding: 0px 20px;
}


@media (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 20px;
      background-color: var(--cinereous);
      padding: 10px;
      border-radius: 10px;
      width: 160px;
    }
    
    .logo{
        font-size: 16px;
    }
    .nav-links.show {
      display: flex;
    }
  
    .menu-toggle {
      display: block;
    }

    footer p{
        font-size: 10px;
    }

    #tentang{
        font-size: 12px;
    }

    .sosmed{
        gap: 5px;
    }
    .sosmed img{
        width: 30px;
        height: 30px;
    }
    
    span{
        font-size: 12px;
        color: var(--jet);
    }

    textarea{
        font-size: 14px;
    }
    
    input{
        font-family: poppins, sans-serif;
        font-size: 12px;
        border: 1px solid var(--jet);
    }
    
    label{
        font-size: 14px;
    }
    
    button{
        font-size: 12px;
    }
    

  }

@media (max-width: 480px) {
    .logo{
        font-size: 12px;
    }

    footer p{
        font-size: 8px;
    }
    .sosmed{
        gap: 3px;
    }
    .sosmed img{
        width: 15px;
        height: 15px;
    }
}